{% extends 'base.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'css/contato.css' %}"> {% endblock %}
{% block title %} <title>Contato | Lucas de Almeida</title> {% endblock %}

{% block content %}
  <div class="container">
      <h1 class="contato-titulo">Contate-me!</h1>


  <form method="POST" action="#envia_contato">
      {% csrf_token %}
        <div class="form_container">
            <!--
                <input id="nome" type="text" name="nome" value="" placeholder="Nome">

                <input id="email" type="email" name="email" value="" placeholder="E-mail">

                <input id="assunto" type="text" name="assunto" value="" placeholder="Assunto">

                <textarea name="mensagem" id="mensagem" cols="50" rows="10" placeholder="Digite sua mensagem"></textarea>
            -->
            {% include 'static/parciais/_messages.html' %}
            {{ form }}
             <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <div class="g-recaptcha" data-sitekey="6LdWwh0cAAAAAI0x9k7oTOoXuA7tHXTgna5ijEVA"></div>
            <br/>
            <input id="envia_mensagem" type="submit" class="btn btn-primary"
              value="Enviar">

        </div>

  </form>
 </div>
{% endblock %}