.contato-titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    color: #555;
}

.container{
    margin: 100px auto;
}


input.btn{
    height: 50px;
    cursor: pointer;
}

input.btn:hover{
   background: #333;
}

.errorlist {
    color: red;
    font-weight: bold;
}

@media (max-width: 769px){
    .form_container{
        width: 100%;
    }
}

@media (max-width: 450px){
    .form_container input, .form_container textarea {
        width: 100%;
    }
}