{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="sKRr6KG_7oQftC3DkXO9XNvhmT5blvMBBWsPINgxN0w" />
    {% block title %}{% endblock %}
    <meta name="description" content="Site pessoal do Lucas de Almeida Sarmento, dando dicas de programação,
    desenvolvimento WEB e ciência de dados.">
    <meta name="author" content="Lucas de Almeida Sarmento">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/cores.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'image/logo.ico' %}">
    {% block style %}{% endblock %}
</head>
<body>
  <nav class="nav flex">
      <a class="btn btn-nav btn-logo" href="/"><img class="logo" src="{% static 'image/logo.ico' %}" alt="Logo"></a>
      <ul class="flex">
        <li> <a class="btn btn-nav" href="/">Home</a> </li>
        <li> <a class="btn btn-nav" href="../posts/">Blog</a> </li>
        <li> <a class="btn btn-nav" href="../sobre/">Sobre</a> </li>
        <li> <a class="btn btn-nav" href="../contato/">Contato</a> </li>
        {% block navbar %}

        {% endblock %}
      </ul>
  </nav>

  <nav class="smnav nav flex">
      <a class="btn btn-nav btn-logo" href="/"><img class="logo" src="{% static 'image/logo.ico' %}" alt="Logo"></a>

      <div class="lista-links">
          <a href="javascript:void(0);" class="btn btn-nav btn-close" onclick="expandirRecolherMenu()">
            <i class="fas fa-times"></i>
          </a>
        <ul class="links-sm flex center">
            <a class="btn btn-nav btn-sm" href="/">Home</a>
            <a class="btn btn-nav btn-sm" href="../posts/">Blog</a>
            <a class="btn btn-nav btn-sm" href="../sobre/">Sobre</a>
            <a class="btn btn-nav btn-sm" href="../contato/">Contato</a>
        </ul>
      </div>

      <a href="javascript:void(0);" class="btn btn-nav" onclick="expandirRecolherMenu()">
        <i class="fa fa-bars"></i>
      </a>
  </nav>


  <main>
    {% block content %}

    {% endblock %}
  </main>


    <footer class="rodape flex">
        <p class="rodape-feito-com">Feito com <i class="fas fa-heart"></i> e <i class="fas fa-coffee"></i></p>

      <ul class="flex">
        <li>
          <a class="btn btn-rodape"
            href="https://www.linkedin.com/in/lucas-de-almeida-sarmento-a1617516a/"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-rodape"
            href="https://github.com/LucasAlmeidaSar"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>

      <p class="rodape-powered">
        Powered by
        <a class="rodape-link" href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">Django</a>
        <i class="fab fa-python"></i>
      </p>
    </footer>

    <script>
        function expandirRecolherMenu() {
          const menu = document.querySelector(".lista-links");
          const rodape = document.querySelector(".rodape")
          if (menu.style.display === "block") {
            menu.style.display = "none";
            rodape.style.display = "flex";
          } else {
            menu.style.display = "block";
            rodape.style.display = "none";
          }
        }
    </script>


</body>
</html>