{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block style %} 
  <link rel="stylesheet" href="{% static 'css/post.css' %}"> 
{% endblock %}

{% block title %} 
  <title>{{post.titulo_post}} | Lucas de Almeida Sarmento</title> 
{% endblock %}


{% block content %}

  <div class="container">

    <!-- POST --> 

    <!-- Cabeçalho -->
    <div class="post_cabecalho">

      <div class="centralizado">
        <h2 class="post_titulo">{{ post.titulo_post }}</h2>
        <h5 class="post_excerto">{{ post.excerto_post }}</h5>
        <p class="post_info text-info centralizado">
          <small>
            {{ post.autor_post }} | {{ post.data_post }} | {{ post.categoria_post }}
          </small>
        </p>
      </div>
        
    </div>

    <!-- Container do conteúdo do Post -->
    <div class="conteudo_post-container">
      <div class="conteudo_post">

        <!-- Imagem do post -->
        {% if post.imagem_post %}
          <img class="imagem" 
               src="{{ post.imagem_post }}" 
               alt="{{ post.imagem_post.name }}">
        {% endif %}

        <!-- Conteúdo do post -->
        {{ post.conteudo_post|safe }}
      </div>

    </div>


    <!-- Container dos Comentários -->
    {% if comentarios %}
      <div class="comentarios_container">
        <h2 class="comentarios_titulo">Comentários ({{ comentarios.count }})</h2>

        {% for comentario in comentarios %}
          <div class="comentario">
            <p class="comentario_autor ">{{comentario.nome_comentario}} disse:</p>
            <small class="text-info">{{comentario.data_comentario|naturalday|title }}</small>
            <p class="comentario_conteudo">{{comentario.conteudo_comentario}}</p>
          </div>
        {% endfor %}    

      </div>
    {% endif %}


    <!-- Container do formulário -->
    <div class="form-wrapper">
      <h2 class="form-comentario_titulo">Deixe um comentário</h2>

      <form class="form_container" method="POST" action="#envia_comentario">
        {% csrf_token %}    
          {{ form }}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="6LdWwh0cAAAAAI0x9k7oTOoXuA7tHXTgna5ijEVA"></div>
        <br/>
        <input id="envia_comentario" 
               type="submit" 
               class="btn"
               value="Enviar">
        {% include 'static/parciais/_messages.html' %}
      </form>
    </div>        
    
    <!-- Fim do POST -->
    
  </div>
{% endblock %}